header {
    background-color: rgb(167, 91, 222);
    margin: 0;
    padding: 5px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 22px;
    list-style: none;
    color: whitesmoke;
}
#axsaism {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
   
}
img {
    float: left;
}
.wrapper {
    background-color: rgb(131, 208, 208);
    padding: 40px;
}
.name {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.akshay {
   font-size: 60px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
   color: rgb(30, 22, 2);
}
.web {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(65, 44, 2);
    font-size:30px ;
}
.meet {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 15, 15);
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0px;
    
}
.unveiling {
   background-color: white;
   padding: 5px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: darkslategrey;
}
.gamer {
    float: right;
} 
.article {
    background-color: rgb(228, 57, 57);
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.email {
    background-color: lightblue;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}